<form method="post" action="/Home/AddItem" name="item">
    <h4>Order items</h4>
    <table>
        <colgroup width="40" />
        <colgroup width="120" />
        <colgroup width="120" />
        <colgroup width="80" />
        <colgroup width="100" />
        <colgroup width="80" />
        <colgroup width="120" />
        <tr>
            <td><b>ID</b></td>
            <td><b>Name</b></td>
            <td><b>Price per item</b></td>
            <td><b>Quantity</b></td>
            <td><b>Category</b></td>
            <td><b>VAT</b></td>
            <td><b>VAT Category</b></td>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model.Order.OrderItems)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@String.Format("{0:0.00}", item.Amount.Amount)</td>
                    <td>@item.Quantity</td>
                    <td>@item.Category</td>
                    <td>@if (@item.Tax != null) { @String.Format("{0:0.00}", item.Tax.Amount); } else { @Html.Raw("No VAT") }</td>
                    <td>@item.VatCategory</td>
                </tr>
            }
        }
    </table>
    <br />
    <table>
        <tr>
            <td>
                <label for="product_name">Product:</label>
                <select name="name" id="product_name">
                    <option value="chair">Chair</option>
                    <option value="table">Table</option>
                    <option value="pen">Pen</option>
                    <option value="paper">Paper</option>
                </select>
            </td>
            <td>
                <label for="product_price">Price (no VAT):</label>
                <select name="price" id="product_price">
                    <option value="100">1.00</option>
                    <option value="200">2.00</option>
                    <option value="300">3.00</option>
                    <option value="400">4.00</option>
                    <option value="500">5.00</option>
                    <option value="-100">-1.00</option>
                </select>
            </td>
            <td>
                <label for="product_category">Category:</label>
                <select name="category" id="product_category">
                    <option value="DIGITAL">DIGITAL</option>
                    <option value="PHYSICAL">PHYSICAL</option>
                </select>
            </td>
            <td>
                <label for="product_vat_category">Vat category:</label>
                <select name="vat" id="product_vat_category">
                    <option value="HIGH">HIGH</option>
                    <option value="LOW">LOW</option>
                    <option value="ZERO">ZERO</option>
                    <option value="NONE">NONE</option>
                </select>
            </td>
            <td>
                <label for="product_quantity">Quantity:</label>
                <input name="quantity" type="number" min="1" max="100" value="1" id="product_quantity">
            </td>
            <td>
                <input type="submit" name="submit" value="Add item" id="add_to_cart">
            </td>
        </tr>
    </table>
</form>