@using OmniKassa.Model.Enums;

@{
    Layout = null;

    var firstName = "";
    var middleName = "";
    var lastName = "";
    var street = "";
    var houseNumber = "";
    var houseNumberAddition = "";
    var postalCode = "";
    var city = "";
    var countryCode = CountryCode.NL;

    if (Model != null)
    {
        firstName = Model.Order.ShippingDetails.FirstName;
        middleName = Model.Order.ShippingDetails.MiddleName;
        lastName = Model.Order.ShippingDetails.LastName;
        street = Model.Order.ShippingDetails.Street;
        houseNumber = Model.Order.ShippingDetails.HouseNumber;
        houseNumberAddition = Model.Order.ShippingDetails.HouseNumberAddition;
        postalCode = Model.Order.ShippingDetails.PostalCode;
        city = Model.Order.ShippingDetails.City;
        countryCode = Model.Order.ShippingDetails.CountryCode;
    }
}

<table>
    <tr>
        <td>
            <label for="shipping_first_name">First name:</label>
            <input type="text" name="shippingFirstName" id="shipping_first_name" value="@firstName">
        </td>
    </tr>
    <tr>
        <td>
            <label for="shipping_middle_name">Middle name:</label>
            <input type="text" name="shippingMiddleName" id="shipping_middle_name" value="@middleName">
        </td>
    </tr>
    <tr>
        <td>
            <label for="shipping_last_name">Last name:</label>
            <input type="text" name="shippingLastName" id="shipping_last_name" value="@lastName">
        </td>
    </tr>
    <tr>
        <td>
            <label for="shipping_street">Street:</label>
            <input type="text" name="shippingStreet" id="shipping_street" value="@street">
        </td>
    </tr>
    <tr>
        <td>
            <label for="shipping_house_number">House number:</label>
            <input type="text" name="shippingHouseNumber" id="shipping_house_number" value="@houseNumber">
        </td>
    </tr>
    <tr>
        <td>
            <label for="shipping_house_number_addition">House number addition:</label>
            <input type="text" name="shippingHouseNumberAddition" id="shipping_house_number_addition" value="@houseNumberAddition">
        </td>
    </tr>
    <tr>
        <td>
            <label for="shipping_postal_code">Postal code:</label>
            <input type="text" name="shippingPostalCode" id="shipping_postal_code" value="@postalCode">
        </td>
    </tr>
    <tr>
        <td>
            <label for="shipping_city">City:</label>
            <input type="text" name="shippingCity" id="shipping_city" value="@city">
        </td>
    </tr>
    <tr>
        <td>
            <label for="shipping_country_code">Country code:</label>
            <select name="shippingCountryCode" id="shipping_country_code">
                @{
                    foreach (CountryCode item in typeof(CountryCode).GetEnumValues())
                    {
                        var name = Enum.GetName(typeof(CountryCode), item);
                        <option value="@item" @if (item == countryCode) { @Html.Raw("selected='selected'") ; }>@item</option>
                    }
                }
            </select>
        </td>
    </tr>
</table>